body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin: 20px;
}

.form__head {
    height: 60px;
    line-height: 57px;
    padding-left: 10px;
    background-color: #896D1D;
    border-bottom: 3px solid #7D641B;
}

.container__contacts {
    background-color: #DED7C1;
    padding: 20px;
}

.container__contact {
    border-bottom: 1px solid #896D1D ;
}

.container__contact-on {
    background-color: #C9BC98;
    padding: 5px 20px 20px 20px;
    transition: all 200ms ease-out;
}

.btn__main {
    width: 100px;
}

.first {
    margin-top: 20px;
}

.last {
    font-weight: bold;
}

.delete_btn,
.edit_btn {
    margin: 10px 15px;
}

.edit_input {
    margin-right: 3px;
}

@keyframes click-wave {
    0% {
        height: 18px;
        width: 18px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 50px;
        width: 50px;
        margin-left: -20px;
        margin-top: -20px;
        opacity: 0;
    }
}

.checkbox {
    height: 18px;
    width: 18px;
    margin-left: 200px;
    background: #DED7C1;
    color: #896D1D ;
    cursor: pointer;
    position: absolute;
    border: #7D641B solid 1px;
}

.checkbox:checked {
    height: 18px;
    width: 18px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
