body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin: 20px;
}

.mainBtn {
    width: 100px;
}

.first {
    margin-top: 20px;
}

.delete,
.edit {
    margin: 10px 15px;
}

