html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[class*='-item'] {
    margin: 15px;
    padding: 10px;
    float: left;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.blue-item {
    height: 100px;
    background: blue;
}

@media screen and (min-width: 768px) {
    .row--blue {
        flex-direction: row;
    }
    .blue-item {
        width: 50%;
    }
}

.orange-item {
    height: 200px;
    background: orange;
}

.green-item {
    height: 200px;
    background: green;
}

@media screen and (min-width: 768px) {
    .row--green {
        flex-direction: row;
    }

    .green-item {
        width: 33.333%;
    }
}

.row--red {
    flex-flow: row wrap;
}

.red-item {
    height: 150px;
    background: red;
    width: calc(50% - 30px);
}

@media screen and (min-width: 768px) {
    .row--red {
        flex-direction: row;
    }

    .red-item {
        width: calc(25% - 30px);
    }
}

@media screen and (max-width: 576px) {
    .red-item {
        width: 100%;
    }

    .hide {
        display: none;
    }
}
